TOKEN_API='TOKEN_API'
API_LOGIN =LOGIN
API_SENHA =SENHA

s = requests.Session()

URL_AUTH = 'URL_AUTH'
URL_SEARCH = 'URL_SEARCH'
URL_ID = 'URL_ID'
URL_JUSTIFY = 'URL_JUSTIFY'
URL_DELETE = 'URL_DELETE'